body {
    height: 2000px;
}

.wrapper {
    position: fixed;
    width: 100px;
}
.container {
    width: 100px;
    height: 400px;
    position: relative;
    overflow-y: hidden;
}


.indicator {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 10px;
    bottom: 50%;
    transform: translateY(-50%);
}